<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mento.Menti.Project.dao.CommentDAO">	
	<!-- 게시물 댓글 불러오기 -->
	<select id="selectComments" resultType="Mento.Menti.Project.dto.CommentDTO" parameterType="int">
		SELECT *
		FROM comment
		WHERE postid = #{postid};
	</select>
	
	<!-- 댓글 등록하기 -->
	<insert id="insertComment" parameterType="Mento.Menti.Project.dto.CommentDTO">
		INSERT INTO comment
		VALUES (null, #{postid}, #{writerid}, #{content}, #{commentdate});
	</insert>
</mapper>