<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mento.Menti.Project.dao.GroupDAO">	
  <!-- 모든 그룹 -->
  <select id="selectGroups" resultType="Mento.Menti.Project.dto.GroupDTO"> 
  	SELECT * 
  	FROM mmgroup;
  </select>
  
  <!-- C언어 그룹 -->
  <select id="selectGroupsC" resultType="Mento.Menti.Project.dto.GroupDTO"> 
  	SELECT * 
  	FROM mmgroup
  	WHERE category = 'C언어';
  </select>
  
  <!-- Java 그룹 -->
  <select id="selectGroupsJava" resultType="Mento.Menti.Project.dto.GroupDTO"> 
  	SELECT * 
  	FROM mmgroup
  	WHERE category = 'Java';
  </select>
  
  <!-- Python 그룹 -->
  <select id="selectGroupsPython" resultType="Mento.Menti.Project.dto.GroupDTO"> 
  	SELECT * 
  	FROM mmgroup
  	WHERE category = 'Python';
  </select>
  
  <!-- 기타 그룹 -->
  <select id="selectGroupsEtc" resultType="Mento.Menti.Project.dto.GroupDTO"> 
  	SELECT * 
  	FROM mmgroup
  	WHERE category != 'C언어' and category != 'Java' and category != 'Python';
  </select>
  
  <insert id="insertGroup" parameterType="Mento.Menti.Project.dto.GroupDTO">
  	INSERT INTO mmgroup
  	VALUES (null, #{name}, #{mentoid}, #{maxperson}, #{category}, #{intro});
  </insert>
  
  <!-- 유저 아이디로 개설한 그룹 리스트 찾기 -->
  <select id="searchMentoGroupsByUserId" resultType="Mento.Menti.Project.dto.GroupDTO" parameterType="String">
  	SELECT *
  	FROM mmgroup
  	WHERE mentoid = #{id};
  </select>
  
  <!-- 유저 아이디로 가입한 그룹 리스트 찾기 -->
  <select id="searchJoinGroupsByUserId" resultType="Mento.Menti.Project.dto.GroupDTO" parameterType="String">
  	SELECT *
  	FROM mmgroup
  	WHERE groupid IN (SELECT groupid from groupmate where id = #{id});
  </select>
  
  <!-- 그룹 이름 검색하기 -->
  <select id="searchGroupsByName" resultType="Mento.Menti.Project.dto.GroupDTO" parameterType="String">
    SELECT *
    FROM mmgroup
    WHERE name LIKE '%${kwd}%';
  </select>
</mapper>