<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mento.Menti.Project.dao.GroupmateDAO">
	<!-- 이미 가입한 그룹인지 확인 -->
	<select id="alreadyJoined" resultType="Mento.Menti.Project.dto.GroupmateDTO" parameterType="Mento.Menti.Project.dto.GroupmateDTO">
		SELECT *
		FROM groupmate
		where id=#{id} and groupid=#{groupid};
	</select>
	
	<!-- 그룹 가입 -->
	<select id="insertGroupmate" parameterType="Mento.Menti.Project.dto.GroupmateDTO">
		INSERT INTO groupmate
		VALUES (#{id}, #{groupid});
	</select>
	
	<!-- 그룹에 참여한 멘티 수 구하기 -->
	<select id="cntMenti" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM groupmate
		WHERE groupid = #{groupid};
	</select>
	
	<!-- 그룹에 참여한 멘티 목록 구하기 -->
	<select id="selectMentiList" resultType="Mento.Menti.Project.dto.GroupmateDTO" parameterType="int">
		SELECT *
		FROM groupmate
		WHERE groupid = #{groupid};
	</select>
	
	<!-- 그룹 탈퇴하기 -->
	<delete id="leaveGroup" parameterType="Mento.Menti.Project.dto.GroupmateDTO">
		DELETE FROM groupmate
		WHERE id = #{id} and groupid = #{groupid};
	</delete>
</mapper>