<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mento.Menti.Project.dao.PostDAO">
  <select id="selectPosts" resultType="Mento.Menti.Project.dto.PostDTO"> 
  	SELECT * 
  	FROM post;
  </select>
  
  <!-- 사이트 전체 공지사항 -->
  <select id="selectGeneralNotices" resultType="Mento.Menti.Project.dto.PostDTO">
  	SELECT *
  	FROM post
  	WHERE groupid is null and is_notice = True;
  </select>
  
  <!-- 사이트 자유게시판 게시물 -->
  <select id="selectGeneralPosts" resultType="Mento.Menti.Project.dto.PostDTO">
  	SELECT *
  	FROM post
  	WHERE groupid is null and is_notice = False;
  </select>
  
  <!-- 그룹 내 공지사항 -->
  <select id="selectGroupNotices" resultType="Mento.Menti.Project.dto.PostDTO">
  	SELECT *
  	FROM post
  	WHERE groupid = #{groupid} and is_notice = True;
  </select>
  
  <!-- 그룹 내 게시물 -->
  <select id="selectGroupPosts" resultType="Mento.Menti.Project.dto.PostDTO">
  	SELECT *
  	FROM post
  	WHERE groupid = #{groupid} and is_notice = False;
  </select>
  
  
  <!-- 사이트 전체 공지사항 검색 -->
  <select id="searchGeneralNotices" resultType="Mento.Menti.Project.dto.PostDTO" parameterType="String">
  	SELECT *
  	FROM post
  	WHERE title LIKE '%${kwd}%' and groupid is null and is_notice = True;
  </select>
  
  <!-- 사이트 자유게시판 검색 -->
  <select id="searchGeneralPosts" resultType="Mento.Menti.Project.dto.PostDTO" parameterType="String">
  	SELECT *
  	FROM post
  	WHERE title LIKE '%${kwd}%' and groupid is null and is_notice = False;
  </select>
  
  <!-- 공지사항 등록 -->
  <insert id="insertGeneralNotice" parameterType="Mento.Menti.Project.dto.PostDTO">
  	INSERT INTO post
  	VALUES (null, null, #{userid}, #{title}, #{content}, #{postdate}, 0, True);
  </insert>
  
  <!-- 자유게시판 게시물 등록 -->
  <insert id="insertGeneralPost" parameterType="Mento.Menti.Project.dto.PostDTO">
  	INSERT INTO post
  	VALUES (null, null, #{userid}, #{title}, #{content}, #{postdate}, 0, False);
  </insert>
  
  
  <!-- 게시물 번호(PK)로 찾기 -->
  <select id="searchByPostId" resultType="Mento.Menti.Project.dto.PostDTO" parameterType="int">
  	SELECT *
  	FROM post
  	WHERE postid = #{postid};
  </select>
  
  <!-- 게시물 조회수 증가 -->
  <update id="updateViewcount" parameterType="int">
  	UPDATE post SET viewcount = viewcount + 1
  	WHERE postid = #{postid};
  </update>
  
  <!-- 공지인지 자유글인지 리턴 -->
  <select id="isNotice" resultType="boolean" parameterType="int">
  	SELECT is_notice
  	FROM post
  	WHERE postid = #{postid};
  </select>
</mapper>