@charset "UTF-8";

.container {
	width: 100%;
	height: 100%;
}

.chating {
	background-color: #000;
	max-height: 90%;
	overflow-y: auto;
	overflow-x:hidden;
}

/*��ũ����*/
.chating::-webkit-scrollbar {
	width: 10px;
}

/*��ũ���� ����*/
.chating::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius:5px;
}

/*��ũ���� Ʈ��*/
.chating::-webkit-scrollbar-track {
	background-color: black;
	border-radius:5px;
}

/*chat box �¿� ����*/
.chating div {
	padding: 0 5px 0 5px;
}

/*chat box ���� �۾� �¿� ����*/
.chating p {
	min-width: 50px;
	width: auto;
	word-break: break-all;
	padding: 0 2px 0 2px;
}

/*���� ���� chat box*/
.chating .me {
	border-radius: 5px 0px 5px 5px; /*chat box ���� ��ܸ� ������, ������ 5px�� �ձ۰� ����*/
	color: BLACK;
	display: inline-block;
	text-align: right; /*����*/
	background: #F7E600;
}

/*���� ���� chat box*/
.me-box {
	text-align: right;
}

/*���� chat box*/
.chating .others {
	border-radius: 0px 5px 5px 5px; /*chat box ���� ��ܸ� ������, ������ 5px�� �ձ۰� ����*/
	color: #F6F6F6;
	display: inline-block;
	text-align: left;
	background: #292B33;
}

/*�޽��� ������ �� ó���� �Ⱥ��̰�*/
/*db�����ϰ� �����ʿ�*/
#yourMsg {
	display: none;
}