@charset "UTF-8";
#sortAction{
	display: block;
	width:auto;
	text-decoration:none;
	color:black;
}
a .sortscreen{
	position: relative;
	overflow:hidden;
}
a .sortscreen > span{
	display:block;
	position:absolute;
	transition:all .5s;
	z-index:2;
}
a .sortscreen > span:nth-child(1){top:0;left:0;height:5px;width:0;}
a .sortscreen > span:nth-child(2){top:0;right:0;height:0;width:5px;}
a .sortscreen > span:nth-child(3){bottom:0;right:0;height:5px;width:0;}
/*
a .sortscreen span:nth-child(4){bottom:0;left:0;height:0;width:5px;}
*/
#sortscreen-4th-child {bottom:0;left:0;height:0;width:5px;} /* 가입 그룹 페이지 카드 */

/*transition-delay:.5s;*/
#sortAction:hover .sortscreen > span:nth-child(1){width:100%;}
#sortAction:hover .sortscreen > span:nth-child(2){height:100%;}
#sortAction:hover .sortscreen > span:nth-child(3){width:100%;}
/*
#sortAction:hover .sortscreen span:nth-child(4){height:100%;}
*/
#sortAction:hover #sortscreen-4th-child {height:100%}; /* 가입 그룹 페이지 카드 */

<!--각 그룹 카드-->
#groupList{
	width:100%;
	margin: 0 auto;
}

#cardAction{
	display: block;
	width:auto;
	text-decoration:none;
	color:black;
}

a .cardscreen{
	position:relative;
	overflow:hidden;
}

a .cardscreen .introbottom{
	width:100%;
	height:100%;
	/*background:#55A1CC;*/
	background:#8EA8DB;
	position:absolute;
	top:150%;
	left:0;
	z-index:2;
	color:#fff;
	border-radius: 0px 0px 5px 5px;
	overflow:auto;
	
	transition:all .45s;
}

a .cardscreen .introbottom::-webkit-scrollbar{
    width: 6px;
}
a .cardscreen .introbottom::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;  
}

.introheader{
	margin-top:10px;
	text-align:center;
}

#cardAction:hover .introbottom{
	top:0%;
}